@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --light: 251 249 244;
    --dark: 32 34 46;

    --alabaster: 210 218 207;
    --sage: 100 180 105;
    --cave: 101 111 108;

    --red: 221 44 76;
    /* --eggplant: 56 38 45;
    --rose: 244 198 202; */
    /* Foreground */
    --fg: var(--dark);
    /* Background */
    --bg: var(--light);
    /* Accents */
    --accent-fg: var(--alabaster);
    --accent-mid: var(--sage);
    --accent-bg: var(--cave);

    scrollbar-color: rgb(var(--fg)) #00000000;

    @apply bg-bg text-fg box-border p-0 m-0 select-none;
  }

  * {
    scrollbar-color: inherit;
  }

  @media (prefers-color-scheme: dark) {
    html {
      /* Foreground */
      --fg: var(--light);
      /* Background */
      --bg: var(--dark);
      /* Accents */
      --accent-fg: var(--cave);
      --accent-bg: var(--alabaster);
    }
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-2xl;
  }

  a:hover {
    @apply underline;
  }
}

@layer components {
  .home-grid {
    @apply grid;
    grid-template:
      "a . b . c" 25%
      "d d d d c" 1fr
      "d d d d e" 1fr
      "f f f f f" auto / auto 1fr auto 1fr auto;
  }

  .home-grid > section:nth-child(1) {
    grid-area: a;
  }

  .home-grid > section:nth-child(2) {
    grid-area: b;
  }

  .home-grid > section:nth-child(3) {
    grid-area: c;
  }

  .home-grid > section:nth-child(4) {
    grid-area: d;
  }

  .home-grid > section:nth-child(5) {
    grid-area: e;
  }

  .home-grid > nav:nth-child(6) {
    grid-area: f;
  }

  .ellelm-grid {
    @apply grid;
    grid-template:
      "a a" auto
      "b b" auto
      "c d" 1fr / auto 1fr;
  }

  .ellelm-grid > h1:nth-child(1) {
    grid-area: a;
  }

  .ellelm-grid > div:nth-child(2) {
    grid-area: b;
  }

  .ellelm-grid > div:nth-child(3) {
    grid-area: c;
  }

  .ellelm-grid > p:nth-child(4) {
    grid-area: d;
  }

  .intro-circle {
    @apply animate-intro-circle rounded-full  fixed opacity-0 pointer-events-none z-50;
    background: radial-gradient(
      circle at 75% 25%,
      rgb(var(--alabaster)),
      rgb(var(--cave))
    );
    width: 120vh;
    height: 120vh;
    top: calc(50% - 60vh);
    left: calc(50% - 60vh);
  }
}

@layer utilities {
  /* Safari */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }

  .drop-shadow {
    /* prettier-ignore */
    filter: drop-shadow(0 20px 13px var(--dark)08)
    /* prettier-ignore */
      drop-shadow(0 8px 5px var(--dark)24);
  }

  @media (prefers-color-scheme: dark) {
    .drop-shadow {
      /* prettier-ignore */
      filter: drop-shadow(0 20px 13px var(--light)08)
      /* prettier-ignore */
        drop-shadow(0 8px 5px var(--light)24);
    }
  }

  .c-invert {
    @apply bg-fg text-bg;
  }
}
