@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --baby-powder: 251 249 244;
    --raisin-black: 32 34 46;
    --hookers-green: 93 119 101;
    --tea-green: 202 227 200;
    --celadon: 100 180 105;
    --amaranth: 221 44 76;

    --fg: var(--raisin-black);
    --bg: var(--baby-powder);

    --green: var(--celadon);
    --red: var(--amaranth);

    --accent-fg: var(--hookers-green);
    --accent-bg: var(--tea-green);

    scrollbar-color: rgb(var(--fg)) #00000000;

    @apply bg-bg text-fg box-border h-full p-0 m-0 select-none;
  }

  @media (prefers-color-scheme: dark) {
    html {
      --fg: var(--baby-powder);
      --bg: var(--raisin-black);
      --accent-fg: var(--tea-green);
      --accent-bg: var(--hookers-green);
    }
  }

  body {
    @apply bg-bg;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-2xl;
  }

  a:hover {
    @apply underline;
  }
}

@layer components {
  .home-grid {
    @apply grid;
    grid-template:
      "a . b . c" 25%
      "d d d d c" 1fr
      "d d d d e" 1fr
      "f f f f f" auto / auto 1fr auto 1fr auto;
  }

  .home-grid > section:nth-child(1) {
    grid-area: a;
  }

  .home-grid > section:nth-child(2) {
    grid-area: b;
  }

  .home-grid > section:nth-child(3) {
    grid-area: c;
  }

  .home-grid > section:nth-child(4) {
    grid-area: d;
  }

  .home-grid > section:nth-child(5) {
    grid-area: e;
  }

  .home-grid > nav:nth-child(6) {
    grid-area: f;
  }

  .ellelm-grid {
    @apply grid;
    grid-template:
      "a a" auto
      "b b" auto
      "c d" 1fr / auto 1fr;
  }

  /* .ellelm-grid > div:nth-child(1) {
    grid-area: c;
  } */

  .ellelm-grid > div:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  .ellelm-grid > h1:nth-child(2) {
    grid-area: a;
  }

  .ellelm-grid > button:nth-child(3) {
    grid-area: a;
  }

  .ellelm-grid > div:nth-child(4) {
    grid-area: b;
  }

  .ellelm-grid > div:nth-child(5) {
    grid-area: c;
  }

  .ellelm-grid > p:nth-child(6) {
    grid-area: d;
  }
}

@layer utilities {
  /* Safari */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }

  .drop-shadow {
    /* prettier-ignore */
    filter: drop-shadow(0 20px 13px var(--dark)08)
    /* prettier-ignore */
      drop-shadow(0 8px 5px var(--dark)24);
  }

  @media (prefers-color-scheme: dark) {
    .drop-shadow {
      /* prettier-ignore */
      filter: drop-shadow(0 20px 13px var(--light)08)
      /* prettier-ignore */
        drop-shadow(0 8px 5px var(--light)24);
    }
  }

  .c-invert {
    @apply bg-fg text-bg;
  }
}
