@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-light dark:bg-dark text-dark dark:text-light  box-border p-0 m-0;
  }

  h1 {
    @apply text-5xl cursor-none pointer-events-none;
  }

  h2 {
    @apply text-2xl;
  }

  a:hover {
    @apply underline;
  }
}

@layer components {
  .home {
    @apply grid w-screen h-screen;
    grid-template:
      "a . b . c" 25%
      "d d d d c" auto
      "d d d d c" auto
      "e e e e e" 20% / auto 1fr auto 1fr auto;
  }

  .home > section:nth-child(1) {
    grid-area: a;
  }

  .home > section:nth-child(2) {
    grid-area: b;
  }

  .home > section:nth-child(3) {
    grid-area: c;
  }

  .home > section:nth-child(4) {
    grid-area: d;
  }

  .home > section:nth-child(5) {
    grid-area: e;
  }
}
