@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-light dark:bg-dark text-dark dark:text-light  box-border p-0 m-0 select-none;
    --light: #fbf9f4;
    --dark: #20222e;
    --red: #dd2c4c;
    --eggplant: #502536;

    /* TODO Fix scroll bar for light and dark mode */
    scrollbar-color: var(--light) var(--dark);
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-2xl;
  }

  a:hover {
    @apply underline;
  }
}

@layer components {
  .home-grid {
    @apply grid;
    grid-template:
      "a . b . c" 25%
      "d d d d c" 1fr
      "d d d d e" 1fr
      "f f f f f" auto / auto 1fr auto 1fr auto;
  }

  .home-grid > section:nth-child(1) {
    grid-area: a;
  }

  .home-grid > section:nth-child(2) {
    grid-area: b;
  }

  .home-grid > section:nth-child(3) {
    grid-area: c;
  }

  .home-grid > section:nth-child(4) {
    grid-area: d;
  }

  .home-grid > section:nth-child(5) {
    grid-area: e;
  }

  .home-grid > nav:nth-child(6) {
    grid-area: f;
  }

  .ellelm-grid {
    @apply grid;
    grid-template:
      "a a" auto
      "b b" auto
      "c d" 1fr / auto 1fr;
  }

  .ellelm-grid > h1:nth-child(1) {
    grid-area: a;
  }

  .ellelm-grid > div:nth-child(2) {
    grid-area: b;
  }

  .ellelm-grid > div:nth-child(3) {
    grid-area: c;
  }

  .ellelm-grid > p:nth-child(4) {
    grid-area: d;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-stream {
    animation: fade-in 1s ease-in-out;
  }
}
